<HTML>
    <head>
    	<link rel="stylesheet" type="text/css" href="main.css">

    </head>

    <body id="background">
	    <div class="row">
	    	<div class="profile hidden-xs col-sm-2 col-md-2 col-lg-2">
	    		<div class="prophoto">
	    		<img src="https://avatars2.githubusercontent.com/u/15316039?v=3&s=460" class="img-responsive" alt="Responsive image">
	    		</div>
	    			<br />
	    		<ul class="nav nav-pills red">
	    	
 					<li role="presentation"><a href="#">About Me</a></li>
				    <li role="presentation"><a href="#">Blog Index</a></li>
				    <li role="presentation"><a href="#">Portfolio</a></li>
				    <li role="presentation"><a href="#">Resume</a></li>
				    <br />
				</ul>
				<br />	  
			</div>				 
		
	
	    	<div class=" margin col-sm-1"> </div>

		    	<div class="jumbotron col-sm-6">

			    	<h2> Hi, I'm Jimmy </h2>
			    	
			        <h3> Welcome to my blog!</h3>
			        
			      
				       <h4>
				        	This is a place where you can catch a glimpse inside my head as well my work. Hope you enjoy the journey as much as I do!
				        </h4>
			       
			        <br />
			      
			       

			        <a href= "https://www.facebook.com/jimmy.gregerson">
			        	<img src="https://cdn2.iconfinder.com/data/icons/social-flat-buttons-3/512/facebook-64.png"> 
			    	</a>

			        <a href= "https://www.twitter.com/jimmyjuiceboxx">
			        	<img src= "https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-twitter-square1-64.png">
			        </a>

			        <a href= "https://instagram.com/jimmyjuiceboxx">
			        	<img src= "https://cdn2.iconfinder.com/data/icons/social-media-free-4/32/instagram_social_media_online_share-64.png">
			        </a>
			        <br />
			        <br />
			        <a href= "mailto:jimmy@jimmygregerson.com">
			        	<img src= "https://cdn2.iconfinder.com/data/icons/once-again/48/Gmail.png">
			        </a>	

		        </div>

	    </div>    
    </body>

 </HTML>