<HTML>
    <head>
    	<link rel="stylesheet" type="text/css" href="main.css">

    </head>

    <body id="background">	
    	<div class="box">
	    	<h1>Jimmy Gregerson</h1>
	    	
	        <p>
	        	<i>Web Developer</i>
	        </p>

	        <p>
	        	Future Ruby on Rails Web Developer, Future CEO,
	         Musician, World Traveler, Food Tasting Extraordinaire.
	        </p>

	        <br />
	      
	       

	        <a href= "https://www.facebook.com/jimmy.gregerson">
	        	<img src="https://cdn2.iconfinder.com/data/icons/social-flat-buttons-3/512/facebook-64.png"> 
	    	</a>

	        <a href= "https://www.twitter.com/jimmyjuiceboxx">
	        	<img src= "https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-twitter-square1-64.png">
	        </a>

	        <a href= "https://instagram.com/jimmyjuiceboxx">
	        	<img src= "https://cdn2.iconfinder.com/data/icons/social-media-free-4/32/instagram_social_media_online_share-64.png">
	        </a>
	        <br />
	        <br />
	        <a href= "mailto:jimmy@jimmygregerson.com">
	        	<img src= "https://cdn2.iconfinder.com/data/icons/once-again/48/Gmail.png">
	        </a>	

        </div>
    </body>

 </HTML>